<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App 2</title>
    <link href="/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/kemenkeu.png" type="image/icon type">
</head>
<body>
    <div class="card">
        <%- include('partials/title.ejs') -%>
    </div>
    <div class="container">
        <div class="column40 card">
            <%- include('partials/selectRole.ejs') -%>
        </div>
        <div class="column60 card">
            <div class="display-container">
                <img class="content-image" src="https://media.istockphoto.com/id/474486193/photo/close-up-of-a-golden-retriever-panting-11-years-old-isolated.jpg?s=612x612&w=0&k=20&c=o6clwQS-h6c90AHlpDPC74vAgtc_y2vvGg6pnb7oCNE=" alt="dog">   
            </div>
        </div>
    </div>
</body>
</html>