<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App 2</title>
    <link href="/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/kemenkeu.png" type="image/icon type">
</head>
<body>
    <div class="card">
        <%- include('partials/title.ejs') -%>
    </div>
    <div class="container">
        <div class="column40 card">
            <%- include('partials/selectRole.ejs') -%>
        </div>
        <div class="column60 card">
            <div class="display-container">
                <img src="https://www.thesprucepets.com/thmb/bKgaPD0oT0AjK6-QdbbxpnX-3xM=/1280x0/filters:no_upscale():strip_icc()/step_6-clownfish-596f711ac4124400102014c2.jpg" alt="fish" class="content-image">
            </div>
        </div>
    </div>
</body>
</html>