<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App 2</title>
    <link href="/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/kemenkeu.png" type="image/icon type">
</head>
<body>
    <div class="app-title">
        <%- include('partials/title.ejs') -%>
    </div>
    <div class="container">
        <div class="column40 card">
            <%- include('partials/selectRole.ejs') -%>
        </div>
        <div class="column60 card">
            <div class="display-container">
                <h3>Selamat Datang di Aplikasi B </h3><br>
                <h3>User</h3>
            </div>
        </div>
    </div>
</body>
</html>


