<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App 1</title>
    <link href="/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/logo-telkom.png" type="image/icon type">
</head>
<body>
    <div class="card">
        <%- include('partials/title.ejs') -%>
    </div>
    <div class="container">
        <div class="column40 card">
            <%- include('partials/selectRole.ejs') -%>
        </div>
        <div class="column60 card">
            <div class="display-container">
                <img src="https://i.insider.com/605a704f106eb50019d053e0?width=1200&format=jpeg" alt="403 logo" class="content-image">
            </div>
        </div>
    </div>
</body>
</html>