<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App 1</title>
    <link href="/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/logo-telkom.png" type="image/icon type">
</head>
<body>
    <div class="card">
        <%- include('partials/title.ejs') -%>
    </div>
    <div class="container">
        <div class="column40 card">
            <%- include('partials/selectRole.ejs') -%>
        </div>
        <div class="column60 card">
            <div class="display-container">
                <h3>Nama User </h3><br>
                <p>1. Andi</p><br>
                <p>2. Budi</p><br>
                <p>3. Cici</p><br>
                <p>4. Deni</p><br>
                <p>5. Eko</p><br>
            </div>
        </div>
    </div>
</body>
</html>