<div class="button-container">
    <h2>Role : User</h2>
    <button onclick="location.href = './';">User</button>
    <button onclick="location.href = './admin';">Admin</button>
    <button onclick="location.href = './superadmin';">Super Admin</button>
</div>